/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html {width:100%;}
body {font-family:Arial, Helvetica, sans-serif;font-size:100%; color:#7f7f7f;min-width:960px;background:#000;}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.bg {width:100%; background:url(../images/bg-top.jpg) center 0 no-repeat;}

.main {
	width:960px; 	
	padding:0;
	margin:0 auto;
	font-size:13px;
	line-height:25px;
	
	
}
#page2 {background-image:url('../images/slider-img6.jpg')}

.container {
	width:940px; 	
	padding:0;
	margin:0 auto;
	
}

a {color:#7f7f7f; outline:none;}
a:hover {text-decoration:none;}

.col-1, .col-2,
.column-1, .column-2 {float:left;}

.wrapper {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
 
p {margin-bottom:18px;}
.p1 {margin-bottom:8px;  color:#fff;font-family:Berlin Sans FB, Berlin Sans FB Demi; }

.p2 {margin-bottom:10px;
    height: 143px;
}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}
.p2Catalogo {margin-bottom:15px;
    height: 25px;
    width: 244px;
}
.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.it {font-style:italic;}

.color-1 {color:#fff;}
.color-2 {color:#c42e02;}
.color-3 {color:#769e02 !important;}

.img-border {border:10px solid #fff;}

/*********************************boxes**********************************/
.indent {padding:20px;}
.indent-left {padding-left:0px;margin-left:1.5em;}
.indent-right {padding-right:50px;}

.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.prev-indent-bot {margin-bottom:10px;}
.img-indent-bot {margin-bottom:25px;}
.margin-bot {margin-bottom:35px;}

.img-indent {float:left; margin:0 30px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.buttons a:hover {cursor:pointer;}

.menu li a,
.list-1 li a,
.link,
.button-1,
.button-2,
h1 a {text-decoration:none; }	

/*********************************header*************************************/
header {
	width:100%;
	background:#A3A3A3;
	position:relative; 
	z-index:2;
}

.row-top {
	width:100%;
	padding:10px 0;
	background:#000;
}

h1 {
	padding:0px 0 0 0px; 
	float:left;
    width: 329px;
}
	h1 a {
		display:inline-block;
		font-size:50px;
		font-weight:normal;
		line-height:1.4em;
		color:#fff;
		letter-spacing:-3px;
		margin-top:-10px;
    width: 212px;
    height: 60px;
}
		h1 a span {color:#c52e02}
		
h2 {
	font-size:60px;
	font-weight:normal;
	line-height:108px;
	color:#fff;
	text-align:center;
}
	h2 span {color:#000;}
	#page1 h2 {margin-bottom:9px;}
.tituloCatalogo
{
   
   font-size:40px; 
	line-height:2em; 
	color:#F1DB71;
	font-weight:lighter;
	letter-spacing:-1px;
 
	line-height:108px;
	text-align:justify;

	 font-family:Cookie,Comic Sans MS
    }	
.textoCatalogo
{
   
   font-size:25px; 
 width:100%;
	color:#FFE3AB;
 font-family:Berlin Sans FB, Berlin Sans FB Demi;
	letter-spacing:-1px;
	 border:none;
	margin-left:0px;
	
	
    }	
.logo
{
    width:5.8em;
    height:5.4em;
}

.sltCategorias
{
    border-radius: 4px;border: 1px solid #808080; padding: 0px; width:138px; 
height: 35px;
margin-left:0.7em;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:White
}

#searchform {
   width:49%;
  height:30px;
    padding: 0px;
  float: right;
  color:Black;
  font-weight:bold;
    background: #fff;
    border-radius: 4px;
    margin-right:0.2em;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 2px 0 rgba(255,255,255,.5);
    background-image: url(../images/magnify.png);
    background-repeat: no-repeat;
    background-position: right center;
     background-size: 20% 100%;
}
#searchform input {
    width: 80%;
  height:20px;
    padding: 5px;
    float: right;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset;
  
}
  
#searchformImg {

    
    float: right;
    border: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
    color: #fff;
    
    border-radius: 0 3px 3px 0;
    
} 

 



	
/***** menu *****/

#toolBar {
    overflow: hidden;
    padding: .8em .2em .9em;
    background: #f6f6f6;
    height: 50px;
    width:480px;
}
header#toolBar div.dropdown {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    width:40%;
    background-color: #FFF;
    padding: 0.3em;
    border: 1px solid #d6d6d6;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 2px;
    height: 35px;
}


.row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 80em;
    height:3em;
} 
.row input
{
    width: 100%;
    height:2.5em;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    } 
#btnIngresar
{
    width: 100%;
    height:2.5em;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    background:url(../images/button2-tail.gif) 0 0 repeat-x #779f02;
    }
.menu {
	padding:26px 10px 0 0; 
	float:right;
    height: 28px;
}
.menu li {
	float:left;
	padding-left:40px;
	
}
.menu li a { 
	font-size:14px; 
	line-height:18px; 
	padding:0; 
	color:#fff; 
}

.menu li a.active,
.menu > li > a:hover {color:#c52e02;}

.row-bot {
	width:100%;
	background:url(../images/row-bot-tail.gif) center top repeat-x;
	background-color: #FF8B00;
	
}
.row-bot-bg {
	width:100%;
	min-height:122px;
	background:url(../images/row-bot-bg.jpg) center top no-repeat;
}
.cont_spinner {
  position: absolute;
  top: 25%;
  left: 50%;
  margin: -25px 0 0 -25px;
  height: 145px;
  width: 310px;
  border: 1px solid #D9D9D9;
  background-color:#fff;
  border-radius: 2%;
 
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  border: 4px solid #fff;
  border-top-color: #779f02;
  border-bottom-color: #779f02;
  border-radius: 100%;
  animation: spinner 0.5s infinite linear;
  -webkit-animation: spinner 0.5s infinite linear;
}



#ventanaflotante {
width: 360px;  /* Ancho de la ventana */
height: 500px;  /* Alto de la ventana */
background: #fff;  /* Color de fondo */
position: absolute;
z-index:1002;
overflow: auto;
top: 200px;
left: 50%;
margin-left: 0px;
border: 1px solid #E7E5E5;  /* Borde de la ventana */
box-shadow: 0 5px 25px rgba(0,0,0,.1);  /* Sombra */

border-radius: 4px;
}
#ventanaflotante2 {
width: 360px;  /* Ancho de la ventana */
height: 460px;  /* Alto de la ventana */
background: #fff;  /* Color de fondo */
position: absolute;
overflow: auto;
top: 200px;
left: 50%;
margin-left: 0px;
border: 1px solid #E7E5E5;  /* Borde de la ventana */
box-shadow: 0 5px 25px rgba(0,0,0,.1);  /* Sombra */
z-index:1002;
border-radius: 4px;
}
#ventanaflotante #contenedor {
padding: 25px 10px 10px 10px;
}
#ventanaflotante2 #contenedor2 {
padding: 25px 10px 10px 10px;
}
#ventanaflotante .cerrar {
float: right;
border-bottom: 1px solid #bbb;
border-left: 1px solid #bbb;
color: #999;
background: white;
line-height: 17px;
text-decoration: none;
padding: 0px 14px;
font-family: Arial;
border-radius: 0 0 0 5px;
box-shadow: -1px 1px white;
font-size: 18px;
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
-ms-transition: .3s;
}
#ventanaflotante .cerrar:hover {
background: #ff6868;
color: white;
text-decoration: none;
text-shadow: -1px -1px red;
border-bottom: 1px solid red;
border-left: 1px solid red;
}
#Div1 .cerrar {
float: right;
border-bottom: 1px solid #bbb;
border-left: 1px solid #bbb;
color: #999;
background: white;
line-height: 17px;
text-decoration: none;
padding: 0px 14px;
font-family: Arial;
border-radius: 0 0 0 5px;
box-shadow: -1px 1px white;
font-size: 18px;
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
-ms-transition: .3s;
    height: 17px;
}
#Div1 .cerrar:hover {
background: #ff6868;
color: white;
text-decoration: none;
text-shadow: -1px -1px red;
border-bottom: 1px solid red;
border-left: 1px solid red;
}

#ventanaflotante #contenedor .contenido {
padding: 15px;
box-shadow: inset 1px 1px white;
background: #fff;  /* Fondo del mensaje */
border: 1px solid #BDBDBD;  /* Borde del mensaje */
font-size: 20px;  /* Tamaño del texto del mensaje */
color: #555;  /* Color del texto del mensaje */
text-shadow: 1px 1px white;
margin: 0 auto;
border-radius: 4px;
}
#ventanaflotante2 .cerrar {
float: right;
border-bottom: 1px solid #bbb;
border-left: 1px solid #bbb;
color: #999;
background: white;
line-height: 17px;
text-decoration: none;
padding: 0px 14px;
font-family: Arial;
border-radius: 0 0 0 5px;
box-shadow: -1px 1px white;
font-size: 18px;
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
-ms-transition: .3s;
}
#ventanaflotante2 .cerrar:hover {
background: #ff6868;
color: white;
text-decoration: none;
text-shadow: -1px -1px red;
border-bottom: 1px solid red;
border-left: 1px solid red;
}
#ventanaflotante2 #contenedor2 .contenido2 {
padding: 15px;
box-shadow: inset 1px 1px white;
background: #fff;  /* Fondo del mensaje */
border: 1px solid #BDBDBD;  /* Borde del mensaje */
font-size: 20px;  /* Tamaño del texto del mensaje */
color: #555;  /* Color del texto del mensaje */
text-shadow: 1px 1px white;
margin: 0 auto;
border-radius: 4px;
}
.oculto {-webkit-transition:1s;-moz-transition:1s;-o-transition:1s;-ms-transition:1s;opacity:0;-ms-opacity:0;-moz-opacity:0;visibility:hidden;}
#ventanaflotante3 {
width: 360px;  /* Ancho de la ventana */
height: 200px;  /* Alto de la ventana */
background:url(../images/fondoPanel.png) ;
position: fixed;
top: 200px;
left: 50%;
margin-left: 0px;
border: 1px solid #E7E5E5;  /* Borde de la ventana */
box-shadow: 0 5px 25px rgba(0,0,0,.1);  /* Sombra */
z-index:999;
border-radius: 4px;
}
#ventanaflotante3 #contenedor3 {
padding: 25px 10px 10px 10px;
    width: 336px;
}
#ventanaflotante3 .cerrar {
float: right;
border-bottom: 1px solid #bbb;
border-left: 1px solid #bbb;
color: #999;
background: white;
line-height: 17px;
text-decoration: none;
padding: 0px 14px;
font-family: Arial;
border-radius: 0 0 0 5px;
box-shadow: -1px 1px white;
font-size: 18px;
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
-ms-transition: .3s;
}
#ventanaflotante3 .cerrar:hover {
background: #ff6868;
color: white;
text-decoration: none;
text-shadow: -1px -1px red;
border-bottom: 1px solid red;
border-left: 1px solid red;
}
#ventanaflotante3 #contenedor3 .contenido3 {
padding: 15px;

background: #fff;  /* Fondo del mensaje */
border: 1px solid #BDBDBD;  /* Borde del mensaje */

margin: 0 auto;
border-radius: 4px;
}
#divPopAdm {
width: 360px;  /* Ancho de la ventana */
height: 200px;  /* Alto de la ventana */
background:url(../images/fondoPanel.png) ;
position: fixed;
top: 200px;
left: 50%;
margin-left: 0px;
border: 1px solid #E7E5E5;  /* Borde de la ventana */
box-shadow: 0 5px 25px rgba(0,0,0,.1);  /* Sombra */
z-index:999;
border-radius: 4px;
}
#divPopAdm #divPopAdmContenido .contenido3{
padding: 25px 10px 10px 10px;
    width: 336px;
}
#divPopAdm .cerrar {
float: right;
border-bottom: 1px solid #bbb;
border-left: 1px solid #bbb;
color: #999;
background: white;
line-height: 17px;
text-decoration: none;
padding: 0px 14px;
font-family: Arial;
border-radius: 0 0 0 5px;
box-shadow: -1px 1px white;
font-size: 18px;
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
-ms-transition: .3s;
}
#divPopAdm .cerrar:hover {
background: #ff6868;
color: white;
text-decoration: none;
text-shadow: -1px -1px red;
border-bottom: 1px solid red;
border-left: 1px solid red;
}
.black_overlay{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}
		
.btnCancelar
{
    Width:120px;
    Height:40px;
    float:left;
    margin-left:15px; 
    margin-top:2px
     
    }
.btnAceptar
{
    Width:120px;
    Height:40px;
    margin-top:2px;
    float:right;
    margin-right:15px
    
    }
/***** slider *****/
.slider-wrapper {
	width:940px;
	height:466px;
	padding:10px;
	background:#fff;
	overflow:hidden;
}
.slider {
	width:940px;
	height:466px;
	
}
.items {display:none;}

.pagination {
	position:absolute;
	left:427px;
	bottom:19px;
	z-index:99;
}
	.pagination li {
		float:left;
		padding-right:4px;
	}
	.pagination a {
		display:block;
		width:26px;
		height:26px;
		background:url(../images/slider-pagination.png) right top no-repeat;
		cursor:pointer;
	}
	.pagination li.current a {cursor:default;}
	.pagination li.current a,
	.pagination a:hover {background-position:left top;}

/*********************************content*************************************/

#content {
	width:100%; 
	padding:15px 0 50px;
	background:#ffffff;
	position:relative;
	z-index:1;
	
}

#fondoMenu
{
    width:100%; 
	padding:15px 0 50px;
	position:relative;
	z-index:1;
    background-image:url('../images/slider-img6.jpg');
	background-size:100% 100%;}
.precio
{
    width: 70px;
    height: 4px;
    float:right;
    text-align:right;
    margin-right:0.7em;
    color:#000;
    font-weight:bold;
    
    }
.precioMenu
{
    width: 70px;
    height: 4px;
    float:right;
    text-align:right;
    margin-right:0.7em;
    color:#fff;
    font-weight:bold;
    
    }

.nombre
{
    width: 250px;
    height: 4px;
    float:right;
    text-align:left;
    margin-right:25.7em;
    
    
    }

.spacer-1 {
	width:100%; 
	background:url(../images/pic-1.gif) 217px 0 repeat-y;
}

h3 {
	font-size:24px; 
	line-height:2em; 
	color:#fff;
	font-weight:normal;
	letter-spacing:-1px;
	margin-bottom:5px;
	
	width:100%;
	 
}
.nombreProdMenu
{
    width: 120px;
    float:left;
    text-align:left;
    margin-left:1em;
    height: 28px;
    color:#FFf;
     font-family: cursive; 
     font-size:large;
     
    
    }
h5 {
    width: 170px;
    float:left;
    text-align:left;
    margin-left:1em;
    height: 28px;
    color:#000;
}
h6 {color:#769e02; font-family:Shadows Into Light Two; font-size:large}

.border-bot {
	width:100%; 
	padding-bottom:20px; 
	background:url(../images/pic-1.gif) 0 bottom repeat-x;
}

.box {
	width:100%; 
	background:url(../images/box-tail.gif) 0 0 repeat-x;
}

.button-1 {
	display:inline-block; 
	float:right;
	padding:12px 19px;
	font-size:13px;
	line-height:1.23em;
	margin-top:11%;
	color:#fff; 
	margin-right:0.7em;
	background:url(../images/button1-tail.gif) 0 0 repeat-x #c42e02;
	cursor:pointer;
	border-bottom-style:none;
}
.button-1:hover {background:#779f02;}

.button-2 {
	display:inline-block; 
	padding:10px 19px;
	font-size:13px;
	line-height:1.23em;
	color:#fff; 
	background:url(../images/button2-tail.gif) 0 0 repeat-x #779f02;
	cursor:pointer;
}
.button-face {
	display:inline-block; 
	padding:10px 19px;
	font-size:16px;
	line-height:1.23em;
	color:#fff; 
	background-color:#4267B2;
	cursor:pointer;
}

.button-2:hover {background:#779f02;}

.list-1 li {
	line-height:18px; 
	padding:6px 0 6px 20px; 
	background:url(../images/marker-1.png) 0 12px no-repeat;
}
	.list-1 a {
		display:inline-block;
		color:#7f7f7f;
	}
	.list-1 a:hover {color:#d53a03; text-decoration:underline;}
	.list-1 span {display:block; line-height:25px; padding:8px 0 17px;}
	.list-1 strong {display:block;}

.list-2 {width:270px; }
.list-2 dt {font-weight:bold; margin-bottom:5px;}
.list-2 dt,
.list-2 dd {width:100%; overflow:hidden;}
.list-2 em {font-style:normal; float:left;}
.list-2 span {float:right; text-align:right; width:auto; font-weight:normal;margin-right:1.5em}
.list-2 dt span {font-weight:bold;}

.list-2W {border-color: #000000;
    width:430px;
    
    height: 120px; 
    
    
}

.quitar
{
     color:Red;
		display:none;
		float:right; text-align:right; width:52px; 
font-weight:normal; margin-right:10px; margin-top:0px;
	}
.primero:hover .quitar {
		display:block;
	}
.primero:hover  .precio,.primero:hover .nombre {
		display:none;
	}
.list-2W li {margin-top:0px;
    height: 52px; margin-right:5px
}

.list-2W dd {width:100%; overflow:hidden;margin-left:1em;}
.list-2W em {font-style:normal; float:left;}
.list-2W span {float:right; text-align:right; font-weight:normal; margin-right:5px; margin-top:0px;
}
#primero .list-2W dt span {float:right; text-align:right; width:21px; 
font-weight:normal; margin-right:25px; margin-top:0px;}
.list-2W select{margin-left:10px;margin-top:0px;}
.list-2W a{ margin-top:0px; width:174px;
    height: 42px;margin-left:10px
}

.list-2WPie {width:447px;
background:#ffffff;border-right-width: 10em;border-left-color: #000000;
    border-right-color: #000000;
    border-top-color: #000000;
    border-bottom-color: #000000;
    height: 285px;
    margin-right:10px
}

.list-2WPie li {margin-top:0px;}
.list-2WPie dd {width:94%; 
overflow:hidden;margin-left:10px;margin-right:10px;
    height: 63px;
}
.list-2WPie em {font-style:normal; float:left;}
.list-2WPie span {float:right; text-align:right; width:auto; font-weight:normal;  }
.list-2WPie dt span {margin-top:0px;font-weight:bold;margin-left:10px;margin-right:21px}
.list-2WPie dt {margin-left:10px;
    width: 432px;
    height: 45px;
}
.list-2WPie select{margin-left:10px;margin-top:10px;}
.list-2WPie a{margin-top:20px;}
hr {
    height: 2px; text-align: center; background: url(../images/linea.png);
    
}
.contenedorPedido{ background-color:White;overflow: auto;width:447px;height:149px;
}
::-webkit-scrollbar {
background:#fff;
width:10px;
}

::-webkit-scrollbar-thumb {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
background-image: -webkit-linear-gradient(top, #C4C9AD 20%,#C4C9AD 51%);
border-radius: 10px;
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar-track {
}

.separador img{background-color:white;width:447px;height:62px;margin:0; padding:0;}
.price-list li {
	overflow: hidden; 
	vertical-align: top;
	line-height: 18px;
	padding:6px 0 6px 20px;
	background:url(../images/marker-2.png) 0 12px no-repeat;
}
	.price-list strong {
		display: block; 
		overflow: hidden;
	}
	.price-list span {
		float: right;
		color: #7f7f7f;
	}
	.price-list a {
		float: left;
		text-decoration: none;
		color: #7f7f7f;
	}
	.price-list a:hover {color:#81a60b; text-decoration:underline;}

.link:hover {text-decoration:underline;} 

.link-1 {
	display:inline-block; 
	font-size:14px; 
	padding-right:8px; 
	background:url(../images/marker-3.gif) right 8px no-repeat;
}
.link-1:hover {color:#fff;} 

.text-1 {font-size:14px;} 

dl span {float:left; width:96px; font-weight:bold;}

/***** bx-slider *****/
.bx-wrapper {overflow:hidden; position:relative;}
	#page2 .bx-wrapper {width:484px !important; height:495px;}
	#page3 .bx-wrapper {width:940px !important; height:572px;}
.bx-window {height:460px; overflow:hidden; width:100%; position:relative;border-radius:0px 0px 5px 5px;}
	#page3 .bx-window {height:510px;}
#slider {
	width:100%;
	height:543px;
	overflow:scroll;
	
	margin-bottom:0.6em;
	
}
#slider > div {
	overflow:scroll;
	width:484px;
	height:510px;
	
 }
#slider-2 > div {
	width:960px;
	height:510px;
	
	
	
}
#contCat
{
    background:url(../images/fondoTextN.jpg) repeat;
    }

#slider figure {margin-bottom:8px;}
#slider-2 figure {margin-bottom:10px;}
#slider-2 h5 {margin-left:0px}
#slider-2 textarea {margin-bottom:2px; margin-left:0px;
    height: 126px;
    width: 80%;
    background:url(../images/fondoTextN.jpg)
    
}

.bx-next {
	display:inline-block;
	font-size:19px;
	line-height:1.2em;
	color:#72ad1a;
	text-transform:capitalize;
	text-decoration:none;
	position:absolute;
	z-index:99;
	left:63px;
	bottom:4px;
}
.bx-prev {display:none !important;}

.bx-pager {padding:16px 0 0 0; text-align:center;}
	#page3 .bx-pager {text-align:center; padding:23px 20px 0 0; font-size:x-large; font-family:"Shadows Into Light Two"; font-weight:bold}
.pager-link {
	display:inline-block;
	color:#fff;
	margin-right:12px;
	cursor:pointer;
	text-decoration:none;
}
.pager-link:hover, 
.pager-active2{color:#A3A3A3;}
.pager-active2 {cursor:default;}


/***** Lightbox image *****/
.lightbox-image {
	position:relative;
	z-index:1;
	overflow:hidden;
	display:inline-block;
	cursor:pointer;
 
	}
	.lightbox-image img {
		position:relative;
		z-index:1;
	}
	.lightbox-image span {
		display:inline-block;
		position:absolute;
		left:0px;
		top:-100%;
		width:100%;
		height:100%;
		background:url(../images/magnify.png) no-repeat 50% 50%;
		z-index:2;
		padding:0;
	}

/***** contact form *****/
#contactform {
	display:block;
	width:100%;
	
}
	#contactform label {
		display:block; 
		height:30px; 
		overflow:hidden;
	}
	#contactform input {
		float:left; 
		font-size:12px; 
		line-height:1.25em;
		color:#000;
		padding:2px 10px; 
		margin:0; 
		font-family:Arial, Helvetica, sans-serif; 
		border:1px solid #ededed;
		background:#fff;
		outline:none;
	}
	#contactform textarea {
		float:left;
		height:204px; 
		width:474px;
		max-height:204px; 
		max-width:474px;
		font-size:12px; 
		line-height:1.25em;
		color:#808080;
		padding:5px 10px; 
		margin:0; 
		font-family:Arial, Helvetica, sans-serif; 
		border:1px solid #ededed;
		background:#fff;
		overflow:auto;
		outline:none;
	}
.textform {
	float:left; 
	display:block; 
	line-height:24px;
	width:115px; 
}

.buttons {padding:10px 0 0 0; text-align:right;}
.buttons a {margin-left:6px; padding:12px 35px;}
		
/****************************footer************************/
footer {
	width:100%; 
	padding:23px 0 30px;
	color:#fff;
}
	footer a {color:#c42e02;}
	footer span {display:block;}
	footer .main {font-size:14px; line-height:25px;}

.list-services {
	padding:0;
}
	.list-services li {
		float:left; 
		padding:0 0 0 10px;
	}